.circular--square {
    border-radius: 50% 50%;
    width: 40px;
    height: 40px;
}

.image-update {

    width: 200px;
}
.select-width{
    width:101%;
}


.link-color{
    text-decoration: none;
    color: white;

}

.ui-menu .ui-menu-item a{
    background:red;
    height:10px;
    font-size:8px;}
p {
    margin: 1em 0;
    font-size: 16px;
}





